<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="Pastelaria Lebem"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.Dishes.DishDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Dishes.DishesActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.Users.Profiles.UserProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Users.Queries.UserResults"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Authentication.RecoverPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Authentication.Register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Authentication.Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Users.Profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Main.First.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>